@using Microsoft.AspNetCore.Http.Features   
@using Logic
@model System.Collections.Generic.List<Logic.Product> 
@{
    ViewBag.Title = "Index";
    List<ProductViewModel> products = ViewBag.Product;
}

<table class="table table-bordered table-striped">
    <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Description</th>
    </tr>
    @foreach (var product in products)
     {
        <tr>
            <td>@product.ProductName</td>
            <td>@product.Size</td>
            <td>@product.Price</td>
            <td>@product.Quantity</td>
            <td>@product.Description</td>
        </tr>
     }
    
</table>
